@charset "UTF-8";


@font-face {
    font-family: 'bebas_neueregular';
    src: url('/fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('/fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*Global*/
* {
    font-family: 'bebas_neueregular', sans-serif;
    line-height: .75em;
  }

body {
    background-color: #dcdcdc;
    text-align: center;
    font-family: 'Bebas Neue';
	display: flex;
	min-height: 70vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

h1 {
    font-size: clamp(45px, 10vw, 85px) !important;
    margin-bottom: clamp(1px, 1vw, 5px) !important;
	color: black;
}

h2 {
    font-size: clamp(25px, 10vw, 65px) !important;
    margin-bottom: clamp(15px, 10vw, 55px) !important;
	color: black;
}

h3 {
    font-size: 40px !important;
	color: black;
}
.myimg{
  width:calc(175px + 10vw);
  height:calc(175px + 10vw);
  object-fit:cover;
  border-radius:50%;
}
/*Global Buttons*/
button {
    border: none;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

button:hover {
    background-color: #dcdcdc;
    box-shadow: 0px 2px 12px rgba(58, 175, 169, 0.4);
    color: black;
    z-index: 99;
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(0.99);
}

.project-button button {
    border: 1px solid #D6DBE6;
    font-size: clamp(1.5rem, 5vw, 1.75rem);
    margin-bottom: clamp(5px, 10vw, 20px) !important;
    min-height: 70;
    max-height: 100;
    min-width: 175px;
    max-width: 200px;
    border-radius: 100px;
    padding: clamp(15px, 1vw, 20px) clamp(30px, 2vw,45px);
    color: black;
    font-weight: 400;
    background-color: #a9a9a9;
}

.project-button button i {
    margin-right: 6px;
    font-size: clamp(1.5rem, 5vw, 1.75rem);
}

.project-button a {
    padding: 8px;
}
